/* reset */
$base-bg: #fff;
$base-font-size: 62.5%;
$base-line-height: 1; 
$custom-font-family: "ArialMT", sans-serif;
$base-font-family: "ArialMT", sans-serif;
$link-color: #000;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #fff;
$text-color2: #000;
$text-color3: #757575;
$text-color4: #e0e0e0;
$text-color5: #4caf50;
$title-color: #fff;
$title-color2: #000;
$title-color3: #424242;
$title-font-family: $custom-font-family;

$font-size-h1: 4.8rem;
$line-height-h1: 60px;
$font-size-h2: 4.8rem;
$line-height-h2: 60px;
$font-size-h3: 2.4rem;
$line-height-h3: 26px;

$bg-color: #000;
$bg-color2: #fff;
$bg-color3: #4caf50;
$bg-color4: #424242;
$bg-color5: #449c44;
$bg-color6: #0b1b1d;;



