/*
================================================================================
|                                     PRODUCT                                   |
================================================================================
*/
.single-product {
  font-family: "Roboto Condensed";
  color: $text-color2;
  margin: 60px 0 100px 0;
  .title {
    font-size: 2.4rem;
    font-weight: 400;
    justify-content: flex-start;
  }
  .content-icon img {
    max-width: 560px;
    max-height: 400px;
  }
}
.single-product-content{
  width: 100%;
  height: 100%;
  padding: 100px 0 50px 0;
  .btn_order{
    position: relative;
    top:0;
  }
}
.single-product-text {
  font-size: 1.6rem;
  span {
    font-weight: 700;
  }
}
.single-product-mass{
  margin: 20px 0;
}
.single-product-price{
  color: $text-color5;
  font-size: 3rem;
  font-weight: 700;
  margin: 90px 0 50px 0;
}
.single-product-coment{
  width: 80%;
  font-size: 1.4rem;
}


.product-slider{
  margin-top: 20px;
  height: auto;
  position: relative;
  //right: -5%;
}
.product-slider-title{
  margin-top: 50px;
  font-size: 2.4rem;
}
.product-slider .sl__img {
  margin-right: 20px;
  background-color: $bg-color;
  position: relative;
  max-width: 205px;
}

.product-slider .sl__img:hover img {
  opacity: .5;
  @include transition(.5s);
}
.product-slider .sl__img:hover a {
  opacity: 1;
}
.product-slider {
  .sl__slider{
    max-width: 225px;
  }
  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #4caf50;
    opacity: 0;
    @include transition(.5s);
  }
  .details {
    width: 22px;
    height: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .slick-dots{
    bottom: -35px;
  }
}


@media screen and (min-width: 320px) and (max-width: 479px) {

}

@media screen and (min-width: 480px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}